<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU_LZXLjoCeSzEaMYE5PuHHEDq3MDclrE</string>
	<key>GCM_SENDER_ID</key>
	<string>885187451260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAhmenesApplication</string>
	<key>PROJECT_ID</key>
	<string>picture-of-the-day-67e3f</string>
	<key>STORAGE_BUCKET</key>
	<string>picture-of-the-day-67e3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885187451260:ios:b52b386feb4172f7fb6cf9</string>
</dict>
</plist>